{{ define "main"}}
<div id="archive">
  <ul class="post-list">
    {{ range .Data.Pages.GroupByDate "2006" }}
      <h1>&#11166; {{.Key}}</h1>
      <hr/>
      {{ range .Pages.GroupByDate "January" }}
        <h2>{{.Key}}</h2>
        {{ range .Pages  }}
          <li class="post-item">
            <div class="meta">
              <time datetime="{{ time .Date }}" itemprop="datePublished">Day {{ .Date.Format "2" }}</time>
            </div>
            <span>    
              <a class="" href="{{ .Permalink }}">{{ if .Title }} {{ .Title }} {{ else }} Untitled {{ end }}</a>
            </span>
          </li>
        {{end}}
      {{end}}
    {{end}}
  </ul>
</div>
{{ end }}